# Centrifugo API
[cent]
addr = "http://127.0.0.1:9501/api"
key = "e39bb4254346"
channel = "channel"

[redis]
addr = "127.0.0.1:6379"
password = ""
db = 2

[mongodb]
host = "192.168.1.16"
port = 27017
username = "admin"
password = "admin_1xm"

[xinzhi_weather]
api_key = "Shhih***8UIcs7s"